@import 'tippy.js/dist/tippy.css';
@tailwind base;
@layer base {
  html {
    @apply subpixel-antialiased;
    font-family:
      -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji';
  }

  input[type='checkbox'] {
    @apply rounded;
  }

  /* 1. Use a more-intuitive box-sizing model */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  body {
    @apply text-neutral-900 dark:bg-neutral-900 dark:text-neutral-100;
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  /* 6. Improve media defaults */
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  /* 7. Inherit fonts for form controls */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  /* 8. Avoid text overflows */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  #root,
  #__next {
    isolation: isolate;
  }
}
@tailwind components;
@layer components {
  .button-base {
    @apply px-3 py-1.5 text-sm font-medium text-white focus:outline-none focus:ring-1;
  }
  .button {
    @apply button-base mb-2 mr-2 rounded-lg;
  }

  .splash-button {
    @apply relative inline-flex w-fit items-center justify-center overflow-hidden rounded-lg bg-gradient-to-br p-0.5 focus:outline-none focus:ring-2;
  }

  .splash-button > span {
    @apply flex items-center gap-x-2 rounded-md bg-neutral-50 bg-opacity-80 backdrop-blur transition-all duration-75 ease-in dark:bg-neutral-900 dark:bg-opacity-80;
  }

  .svg-icon {
    @apply h-4 w-4 stroke-current stroke-2 transition-[stroke-width] hover:stroke-[2.5];
  }
}

@tailwind utilities;
@layer utilities {
  .text-default {
    @apply text-neutral-800 dark:text-neutral-100;
  }

  .bg-default {
    @apply bg-neutral-100/90 text-neutral-800 dark:bg-neutral-800/90 dark:text-neutral-100;
  }

  .border-default {
    @apply border-neutral-300 dark:border-neutral-600;
  }

  .hover-default {
    @apply hover:bg-neutral-300/80 active:bg-neutral-400/80 dark:hover:bg-neutral-700/80 dark:active:bg-neutral-600/80;
  }

  .picker {
    @apply bg-default flex w-full flex-col rounded-lg backdrop-blur;
  }

  .picker-el {
    @apply hover-default cursor-pointer rounded px-4 text-base;
  }

  .center {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  div > .tippy-box {
    @apply rounded-lg bg-neutral-700/80 px-1 py-0.5 text-center backdrop-blur;
  }

  div > .tippy-box > .tippy-arrow {
    @apply text-neutral-700/80;
  }
}
